// Partial for the Nav Bar

//COLOR Variables


.navbar {
  margin: 0 auto;
  margin-bottom: 0px;
  max-width: 760px;
  height: 75px;
  background-color: $color-white;
  align-self: center;
  display: block;
  padding-left: 20px;
  padding-right: 20px;

  .navbar-list {
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    font-size: 20px;
  }
  .navbar-title{
    color: $color-lighter-blue;
    font-size: 30px;
      
  }
  a{
    color: $color-pink;
  }
  a:hover{
    color: $color-yellow;
  }

}

